* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}
.h1 {
    font-size: 36px;
}
.smalltext1 {
    color: blueviolet;
    font-size: 24px;
}
.smalltext2 {
    color: green;
    font-size: 20px;
    font-weight: bold;
}
.card {
    min-width: 550px;
    height: 750px;
    border: 1px solid black;
}
img {
    height: 43%;
    width: 100%;
    object-fit: cover;
}
.content {
    height: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
button {
    width: 100%;
    height: 10%;
    background-color:cadetblue;
    color: white;
    font-size: 24px;
}
.svg {
    display: flex;
    gap: 25px;
}
