* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.responsive-table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    height: 100%;
}

.first-cell {
    background-color: red;
    width: 50%;
    border: 1px solid black;
}

.second-cell {
    background-color: green;
    width: 50%;
    border: 1px solid black;
}

@media (max-width: 1040px) {
    .responsive-table {
        height: 100%;
    }
}

@media (max-width: 500px) {
    .first-cell, .second-cell {
        display: block;
        width: 100%;
        height: 50%;
    }

    .responsive-table {
        border: none;
    }

    .first-cell, .second-cell {
        border-bottom: 1px solid black;
    }
}
